#logo-header{
    width: 200px;
    height: auto;
    position: absolute;
    top: 50%;
}

.img-header{
    position: relative;
}

#bg-header{
    width: 100%;
    max-height: 100px;
    background-repeat: repeat-x;
    background-color: #4ea0ff;
}

.the-booleaner{
    color: blue;
}

table{
    text-align: left;
}

#thead-set{
    background-color: #20a9e5;
    color: white;
}

.tbody-set{
    background-color: #b1e5f2;
    color: black;
}

.foto-testo{
    position: relative; 
    display: inline-block;
}
.overlay{
    position: absolute;
  top: 5%; 
  left: 30%; 
  transform: translate(-50%, -50%); 
  text-align: left; 
  color: white; 
  font-size: 22px; 
  font-weight: bold;  
  padding: 20px;
}