body{
    margin-left: 10%;
    margin-right: 10%;
}

#logo-header{
    width: 200px;
    height: auto;
    position: absolute;
    top: 50px;
}

.img-header{
    position: relative;
}

header{
    background-image: url(../img/pattern.png);
    height: 100px;
    max-width: 100%;
    background-color: #4ea0ff;
}

.the-booleaner{
    color: blue;
}

table{
    text-align: left;
}

#thead-set{
    background-color: #20a9e5;
    color: white;
}

.tbody-set{
    background-color: #b1e5f2;
    color: black;
}

.foto-testo{
    position: relative; 
    display: inline-block;
}

.overlay{
    position: absolute;
    top: 5%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    text-align: left; 
    color: white; 
    font-size: 22px; 
    font-weight: bold;  
    padding: 20px;
}